# Compiled and build artifacts
*.class
*.o
*.obj
*.out
*.pyc
__pycache__/
*.pyo
*.pyd
*.so
*.dll
*.exe
*.a
*.lib
*.dylib
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tar
*.gz
*.bz2
*.xz
*.7z
*.rar
*.zst
*.lz4
*.lzh
*.cab
*.arj
*.rpm
*.deb
*.Z
*.lz
*.lzo

# Dependencies
node_modules/
venv/
.venv/
.env
.env.local
.env.*
target/
.gradle/
.mypy_cache/
.pytest_cache/
.coverage
coverage/
htmlcov/
dist/
build/

# Editors and IDEs
.vscode/
.idea/
*.swp
*.swo
*.tmp
*.log
*.bak
*.orig
*.rej

# System files
.DS_Store
Thumbs.db
desktop.ini
ehthumbs.db
Icon?
._*

# Build systems
*.so
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.coverage
nosetests.xml
coverage.xml
*.cover
*.gcda
*.gcno
*.gcov
*.profdata
*.profraw
*.dynstr
*.dynsym
*.hashes
*.idb
*.pdb
*.ilk
*.map
*.exp
*.lib
*.obj
*.o
*.gch
*.pch
*.xpi
*.deb
*.rpm
*.msi
*.dmg
*.pkg
*.app
*.exe
*.bin
*.out
*.pid
*.seed
*.lock
*.sock
*.state
*.dump
*.heap
*.stackdump
*.core
*.crash
*.diagsession
*.dump
*.etl
*.gmon
*.hprof
*.idx
*.indy
*.iws
*.jar.pack
*.jbdump
*.jbtrace
*.jps
*.jrmp
*.jsb
*.jscex
*.jsession
*.jshintrc
*.jshintignore
*.jtr
*.key
*.keystore
*.kibana
*.last_run
*.lcov
*.leasotrc
*.license
*.license-checker
*.lint
*.lint-staged.config.js
*.lint-stagedrc
*.list
*.locale
*.lock
*.lock-wscript
*.log
*.log.*
*.log.*
*.lo
*.local
*.localhistory
*.lock
*.lock.json
*.lock.yaml
*.lock.yml
*.lok
*.lst
*.ltmain.sh
*.lua
*.luac
*.luacheckrc
*.luacov
*.luacov.report.out
*.luacov.stats.out
*.luau
*.luau.cache
*.luaurc
*.luax
*.m
*.mak
*.make
*.manifest
*.map
*.master
*.mat
*.mdb
*.mem
*.meta
*.metadata
*.metadataversion
*.mgc
*.mib
*.midl
*.min.js
*.min.css
*.mk
*.mkdb
*.mli
*.mlist
*.mm
*.mmap
*.mod
*.mod.go
*.mod.lock
*.module
*.modulemap
*.movelogs
*.mpc
*.mpc.log
*.msg
*.msi
*.msp
*.mta
*.mtl
*.mtoc
*.mtx
*.multiverse
*.mv
*.mvc
*.mvt
*.mx
*.mx.fmt
*.mx.history
*.mx.version
*.mxproject
*.mxprojectnodes
*.mxunit
*.myapp
*.myd
*.myi
*.n
*.nav
*.nbattrs
*.nbc
*.nbf
*.nbp
*.nbproject
*.nbprojnodes
*.nbproperties
*.ncb
*.ndt
*.nef
*.net
*.netrwhist
*.new
*.nfs
*.ng
*.ngr
*.ngrx
*.nib
*.ninja_deps
*.ninja_log
*.nit
*.nix
*.njk
*.nl
*.nlo
*.nls
*.nmb
*.nmo
*.nmoved
*.nntp
*.no
*.noc
*.nodemonignore
*.nomadfile
*.npm
*.npmignore
*.npmrc
*.nra
*.nsf
*.nse
*.nsh
*.nsp
*.nss
*.nt
*.ntl
*.nupkg
*.nuspec
*.nvram
*.nvmrc
*.nyc_output
*.nytprof
*.o
*.obj
*.objdump
*.od
*.odb
*.odc
*.odf
*.odg
*.odi
*.odm
*.odp
*.ods
*.odt
*.off
*.ogv
*.oia
*.oil
*.ok
*.old
*.old.old
*.oldfiles
*.omf
*.one
*.onnx
*.opendocument
*.openvpn
*.ops
*.opt
*.opts
*.opus
*.ora
*.orf
*.osm
*.ost
*.otf
*.oti
*.otp
*.ots
*.ott
*.out
*.outline
*.ovf
*.ovpn
*.ovr
*.ovs
*.owl
*.ox
*.oxa
*.oxb
*.oxi
*.oxu
*.oxy
*.p
*.p12
*.p7b
*.p7c
*.p8
*.pac
*.pack
*.packed
*.pad
*.page
*.pages
*.pak
*.pandoc
*.par
*.parallel
*.part
*.partial
*.pas
*.patch
*.pat
*.path
*.pb
*.pbi
*.pbk
*.pbm
*.pbt
*.pc
*.pcf
*.pck
*.pcl
*.pco
*.pcss
*.pdb
*.pde
*.pdf
*.pdk
*.pdm
*.pdp
*.pdv
*.pe
*.pec
*.ped
*.pegjs
*.pem
*.perf
*.perl
*.pex
*.pg
*.pgd
*.pgm
*.pgn
*.pgsql
*.phar
*.php
*.php4
*.php5
*.php_cs
*.php_cs.dist
*.phpcs.xml
*.phpunit.result.cache
*.phtml
*.pic
*.pict
*.pid
*.pig
*.pil
*.pin
*.pinfo
*.pio
*.pkl
*.pl
*.pl6
*.plan
*.plantuml
*.plist
*.plot
*.pm
*.pm6
*.pmd
*.png
*.po
*.pod
*.podspec
*.pom
*.pop
*.port
*.pot
*.potm
*.potx
*.pp
*.ppa
*.ppam
*.pps
*.ppsm
*.ppsx
*.ppt
*.pptm
*.pptx
*.pre-commit-config.yaml
*.precomp
*.pred
*.pref
*.preferences
*.preload
*.prettierignore
*.prettierrc
*.prf
*.pri
*.prj
*.pro
*.proc
*.profile
*.proj
*.project
*.properties
*.props
*.prpt
*.prs
*.prt
*.ps
*.psc
*.psd
*.psess
*.pset
*.psi
*.psm
*.psql
*.pst
*.pt
*.ptvs
*.ptvs.user
*.pub
*.pubxml
*.pubxml.user
*.pug-lintrc
*.puglintrc
*.puml
*.pv
*.pvd
*.pwd
*.pwi
*.pxd
*.pxi
*.py
*.pyc
*.pyd
*.pyde
*.pyo
*.pyproj
*.pyro
*.pyroc
*.pyroject.toml
*.pyup
*.pyw
*.pyx
*.q
*.qar
*.qasm
*.qbs
*.qdoc
*.qhelp
*.ql
*.qm
*.qmake
*.qrc
*.qrz
*.qs
*.qt
*.qtpl
*.qtproject
*.quasar
*.query
*.quesma
*.qvd
*.qvw
*.qx
*.r
*.rake
*.raml
*.rar
*.raw
*.rb
*.rbw
*.rc
*.rcl
*.rcs
*.rd
*.rdf
*.rds
*.reb
*.red
*.redis
*.reek
*.ref
*.reg
*.rego
*.rei
*.rel
*.rem
*.remarkrc
*.remote
*.repl
*.res
*.resx
*.rest
*.rest.txt
*.restructuredtext
*.ret
*.rev
*.rew
*.rf
*.rg
*.rhtml
*.rib
*.rif
*.ril
*.ring
*.riot
*.rl
*.rkt
*.rlib
*.rm
*.rmd
*.rmi
*.rnc
*.rnd
*.rng
*.rnh
*.rno
*.rob
*.rockspec
*.rogue
*.roo
*.root
*.ros
*.rosinstall
*.rot
*.row
*.rp
*.rpc
*.rpf
*.rpm
*.rpy
*.rq
*.rs
*.rsa
*.rsc
*.rsh
*.rspec
*.rspec_parallel
*.rss
*.rst
*.rst.txt
*.rt
*.rtf
*.ru
*.ruby
*.run
*.rv
*.rviz
*.rw
*.rwd
*.rx
*.s
*.s3m
*.sage
*.sal
*.sam
*.sample
*.sass
*.sbt
*.sc
*.scala
*.scd
*.scm
*.scpt
*.scr
*.screen
*.scss
*.scurl
*.sdl
*.sdp
*.sds
*.sea
*.search
*.secret
*.seed
*.seen
*.secrets
*.sed
*.see
*.self
*.semver
*.sentinel
*.seq
*.ser
*.service
*.services
*.session
*.settings
*.sf
*.sfd
*.sfg
*.sfl
*.sfo
*.sfp
*.sfr
*.sgf
*.sgi
*.sgit
*.sgml
*.sha
*.sha1
*.sha2
*.sha256
*.sha3
*.shar
*.shell
*.shelve
*.shlib
*.shm
*.shms
*.sho
*.shop
*.show
*.shp
*.shr
*.sht
*.shtm
*.shtml
*.shx
*.si
*.sic
*.sid
*.sig
*.sign
*.sigstore
*.sik
*.sil
*.silver
*.sim
*.sima
*.simp
*.simple
*.sinc
*.sincl
*.single
*.sip
*.sis
*.sisx
*.sit
*.site
*.sj
*.sk
*.sketch
*.skp
*.sl
*.sla
*.slang
*.slim
*.sln
*.slog
*.slp
*.sls
*.slt
*.sm
*.sma
*.smali
*.smalltalk
*.smb
*.smc
*.smd
*.smf
*.smi
*.sml
*.smp
*.sms
*.smt
*.smts
*.sn
*.snap
*.snd
*.snf
*.sni
*.snippets
*.snow
*.snp
*.sns
*.so
*.soap
*.sol
*.solidarity
*.soliumrc.json
*.sonar
*.sonarqube
*.sou
*.source
*.sources
*.sov
*.sp
*.spa
*.sparql
*.spd
*.spe
*.spec
*.spec.js
*.spec.ts
*.spec.tsx
*.spec.jsx
*.spf
*.spi
*.spl
*.spm
*.spool
*.spotless
*.sql
*.sqlite
*.sqlite3
*.sqr
*.sqs
*.sr
*.src
*.srcjar
*.srf
*.srl
*.srm
*.srt
*.srv
*.ss
*.ssc
*.ssi
*.ssl
*.sso
*.ssp
*.sss
*.sst
*.st
*.stack
*.stack-work
*.standalone
*.stata
*.std
*.stderr
*.stdout
*.step
*.stl
*.stm
*.storyboard
*.storyboardc
*.stree
*.str
*.strings
*.struct
*.sty
*.styl
*.stylus
*.sub
*.sublime-project
*.sublime-workspace
*.sum
*.sums
*.sun
*.sup
*.suo
*.svg
*.svn
*.svn-base
*.svn-work
*.svs
*.sw
*.swc
*.swcrc
*.swf
*.swift
*.swiftdoc
*.swiftmodule
*.swp
*.swo
*.sxc
*.sxd
*.sxg
*.sxi
*.sxm
*.sxw
*.sy
*.sym
*.sync
*.sys
*.system
*.sz
*.t
*.t2t
*.tab
*.tag
*.tags
*.tar
*.tar.bz2
*.tar.gz
*.tar.xz
*.tar.zst
*.target
*.tcl
*.tcsh
*.tea
*.teal
*.ted
*.tee
*.tel
*.temp
*.template
*.templates
*.templatetags
*.term
*.terminal
*.tex
*.texi
*.texinfo
*.text
*.textile
*.tf
*.tf.json
*.tfbackend
*.tfenv
*.tfl
*.tflint.hcl
*.tflocal
*.tfplan
*.tfstate
*.tfstate.backup
*.tfvars
*.tfw
*.tg
*.tgz
*.th
*.thrift
*.ths
*.tif
*.tiff
*.til
*.tile
*.tim
*.time
*.timeline
*.timer
*.tmp
*.tmp.js
*.tmp.ts
*.tmpl
*.tmpls
*.tmod
*.tmux
*.tn
*.toc
*.todo
*.toe
*.tool-versions
*.tools
*.top
*.tor
*.torrent
*.totvs
*.touch
*.tout
*.tower
*.tp
*.tpl
*.tps
*.tr
*.tr0
*.tracelog
*.traceur
*.tracker
*.trash
*.travis
*.tre
*.tree
*.trg
*.tri
*.triples
*.trk
*.trl
*.trm
*.troff
*.ts
*.tsbuildinfo
*.tscn
*.tsg
*.tsv
*.tsx
*.tt
*.ttl
*.ttml
*.ttx
*.tura
*.turn
*.tut
*.tv
*.tw
*.twig
*.tx
*.txz
*.ty
*.type
*.types
*.tz
*.tzst
*.u
*.udf
*.uds
*.uf2
*.ui
*.uikit
*.uml
*.un~
*.un~
*.un~
*.un~
*.unc
*.und
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un~
*.un......